<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="navigation(userName)">
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a href="../" class="navbar-brand">ToolRental</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="../viewprofile.html" class="nav-link">View Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="../checktoolavailability.html" class="nav-link">Check Tool Availability</a>
                    </li>
                    <li class="nav-item">
                        <a href="../makereservation.html" class="nav-link">Make Reservation</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto login-status">
                    <li class="nav-item mr-5">
                        <strong style="color:white;" class="nav-link">Welcome <span th:text="${userName}"></span></strong>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>


</html>